body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

#map {
  width: 100vw;
  height: 100vh;
}

.modal {
  min-width: 380px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  background: #fff;
}


.modal__head, .reviews__wrapper, .form {
  padding: 16px;
}

.modal__head {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 15px;
  flex-flow: row nowrap;
  background: #ff8663;
  color: white;
}

.modal__head-logo {
  padding-right: 8px;
} 

.modal__head-title {
  flex-grow: 1;
}

.modal__head-cross, .modal__head-logo{
  font-weight: bold;
  font-size: 14px;
}

.modal__head-cross:hover {
  cursor: pointer;
}

.reviews {
  box-sizing: border-box;
  color: #4f4f4f;
  overflow: auto;
}

.review__author{
  font-weight: bold;
}
 
.review__place {
  font-weight: bold;
  color: #a3a3a3;
}

.review__time {
  color: #a3a3a3;
}

.review__body {
  padding: 10px 0 18px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.input__name, .input__place, .input__review {
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid #a3a3a3;
  outline: none;
}

.form__title {
  padding-top: 16px;
  line-height: 1;
  border-top: 1px solid #a3a3a3;
  color: #ff8663;
  text-transform: uppercase;
  font-weight: bold;
}

.form__button {
  margin-top: 16px;
  display: flex;
  margin-left: auto;
}

.form__button-add {
  padding: 8px 16px;
  color: #fff;
  background: #ff8663;
  font-size: 12px;
  border-radius: 10px;
  border: none;
}

.form__button-add:hover {
  cursor: pointer;
}

.review__prop {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 177px;
}

.review div {
  margin-bottom: 15px;
}

.review:last-child {
  margin-bottom: 0;
}

.review__prop-place {
  font-weight: bold;
}

.review__main {
  flex-grow: 1;
}

.review__prop-time {
  text-align: right;
  color: #a3a3a3;
}